.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 32px;
}

.footer__about,
.footer__links {
	width: 100%;
}

.footer__about {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}

.footer__about .footer__text {
	margin: 32px 0;
}

.footer__about .footer__copy {
	color: #6d7a80;
}

.footer__links {
	display: flex;
	gap: 32px;
}
