@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
h1 {
	font-family: 'Caveat Brush', cursive;
	font-size: 3rem;
}
/* 
.flex {
	display: flex;
}
.hidden {
	display: none;
}
.flex-col {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-1 {
	flex: 1;
} */

/*------------------
    Navigation
------------------*/

.navigation {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	padding: 0.5rem 0rem;
	background-color: #fff;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.brand-name {
	margin-left: 1rem;
}
.navigation-menu {
	margin-left: auto;
}

.navigation-menu ul {
	display: flex;
	padding: 0;
}
.navigation-menu li {
	list-style-type: none;
	margin: 0 1rem;
}
.navigation-menu li a {
	text-decoration: none;
	display: block;
	width: 100%;
}

.hamburger {
	border: 0;
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	display: none;
}
.hamburger:hover {
	/* background-color: #2642af; */
}

@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.navigation-menu ul {
		position: absolute;
		top: 38px;
		left: 0;
		flex-direction: column;
		width: 100%;
		height: 178px;
		background-color: white;
		border-bottom: 1px solid black;
		display: none;
	}
	.navigation-menu li {
		text-align: left;
		margin: 8px 0;
		padding: 0 1.6rem;
	}
	.navigation-menu li a {
		color: black;
		width: 100%;
		padding: 0.9rem 0;
	}
	.navigation-menu li a:active {
		color: #4eb3e3;
	}

	.navigation-menu li:hover {
		background-color: #ffff;
	}
}
@media screen and (max-width: 768px) {
	.navigation-menu.expanded ul {
		display: block;
	}
}
@media screen and (max-width: 1020px) {
	.navigation {
		height: 56px;
	}
}
@media screen and (max-width: 1020px) {
	.brand-name {
		height: 32px;
		width: 125.5px;

		margin-left: 16px;
	}
}
/*-----------------

-----------------*/
.bg {
	background-color: #f8cc5d;
	width: 100vw;
	height: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
}

/*-----------------
CARD
-----------------*/
/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
} */

.refer__card__title {
	text-align: left;
	margin: 0 auto;
	font-size: 32px;
	margin-bottom: 24px;
}

.refer__card__p {
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	margin-bottom: 24px;
}

.refer__card {
	width: auto;
	height: auto;
	background-color: #f8f4f9;
	border-radius: 16px;
	border: 1px solid #1f343e;
	margin: 0 auto;
	margin: 0 16px;
	padding: 32px 16px;
}

/*-----------------
FORM
-----------------*/

.form__container {
	width: 100%;

	margin: 0 auto;
}

.form__input {
	width: 100%;
	height: 56px;
	border: 1px solid #1f343e;
	border-radius: 8px;
	padding: 0 1.6rem;
}

#icon_mail {
	background-image: url('../public/images/email_icon.svg');
	background-repeat: no-repeat;
	background-position: 16px 18px;
}

.form__input {
	padding-left: 48px;
	font-size: 16px;
}
.form__button {
	width: 100%;
	height: 56px;
	border: 1px solid #1f343e;
	border-radius: 8px;
	padding: 0 1.6rem;

	background-color: #4eb3e3;
	color: #ffffff;
	font-size: 16px;
	margin: 16px auto;
}
.from__errors {
	color: red;
	font-size: 12px;
	margin-bottom: 7px;
}
.form__success__container {
	font-size: 16px;
	margin-bottom: 17px;
	display: flex;
	align-items: center;
}
.form__success__icon {
	/* display: inline-block; */
	height: 32px;
	width: 32px;
	margin-right: 16px;
}
.form__success__message {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.refer__card__limits__text {
	margin-top: 71px;
	color: #6d7a80;
	font-size: 16px;
}

.form__input--referral {
	width: 100%;
	height: 56px;
	border: 1px solid #1f343e;
	border-radius: 8px;
	padding-left: 16px;
	font-size: 16px;
}
