@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('http://fonts.cdnfonts.com/css/gadugi');

:root {
	--color-primary: #1f343e;
	--color-secondary: #4eb3e3;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--color-primary);
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-secondary);
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Caveat Brush', cursive;
}

.footer__links__header {
	font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.p {
	font-size: 16px;
	margin: 0;
}
.container {
	margin: 0 auto;
	max-width: 1120px;
}
.navigation__container {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 32px;
}

.footer__about {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 544px;
	justify-content: space-between;
	gap: 32px;
}

.footer__about .footer__text {
	margin: 32px 0 0 0;
}

.footer__about .footer__copy {
	color: #6d7a80;
	margin: 0;
}

.footer__copy__mobile {
	color: #6d7a80;
	margin: 0;
	display: none;
}

.footer__links__container {
	width: 100%;
	max-width: 480px;
	display: flex;
	gap: 32px;
	justify-content: space-between;
}

.footer__links__container > div {
	width: 100%;
}

.footer__links__container h2 {
	font-size: 20px;
	line-height: 32px;
	margin: 0 0 24px 0;
	letter-spacing: 1.6px;
	color: #1f343e;
	text-transform: uppercase;
}

.footer__links__container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer__links__container ul li {
	margin: 0 0 16px 0;
}

.footer__links__container ul li:last-child {
	margin: 0;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-between;
	height: 100%;
}

.footer_contacts .social_icons {
	display: flex;
	gap: 4px;
}

.social-icon {
	display: inline-block;
	padding: 6px 0;
	text-align: center;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	margin-bottom: 8px;
	color: #fff;
	background: #4eb3e3;
	border: 1px solid #1f343e;
	border-radius: 8px;
}

@media screen and (min-width: 1170px) {
	.container--flex {
		display: flex;
	}
}

@media screen and (max-width: 1170px) {
	.footer__container {
		padding-left: 32px;
		gap: 48px;
	}
	.footer__links__container h2 {
		font-size: 16px;
	}
	.footer__contacts {
		gap: 37px;
	}
	.footer__container,
	.footer__links__container {
		flex-direction: column;
		padding-right: 32px;
	}

	.footer__about,
	.footer__links__container {
		width: 100%;
		max-width: initial !important;
	}

	.footer__copy {
		display: none !important;
	}

	.footer__copy__mobile {
		display: block !important;
	}
}

.flex-line-center {
	display: flex;
	align-items: center;
}

/*------------------
    Navigation
------------------*/

.navigation {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	padding: 0.5rem 0rem;
	background-color: #fff;
	color: black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.brand-name {
	margin-left: 16px;
}
.navigation-menu {
	margin-left: auto;
}

.navigation-menu ul {
	display: flex;
	padding: 0;
}
.navigation-menu li {
	list-style-type: none;
	margin: 0 1rem;
}
.navigation-menu li a {
	text-decoration: none;
	display: block;
	width: 100%;
}

.hamburger {
	border: 0;
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	display: none;
}
.hamburger:hover {
	/* background-color: #2642af; */
}

@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.navigation-menu ul {
		position: absolute;
		top: 38px;
		left: 0;
		flex-direction: column;
		width: 100%;
		height: 178px;
		background-color: white;
		border-bottom: 1px solid black;
		display: none;
	}
	.navigation-menu li {
		text-align: left;
		margin: 8px 0;
		padding: 0 1.6rem;
	}
	.navigation-menu li a {
		color: black;
		width: 100%;
		padding: 0.9rem 0;
	}
	.navigation-menu li a:active {
		color: #4eb3e3;
	}

	.navigation-menu li:hover {
		background-color: #ffff;
	}
}
.logo__container {
	padding-left: 16px;
}
@media screen and (max-width: 768px) {
	.navigation-menu.expanded ul {
		display: block;
	}
}

@media screen and (max-width: 1120px) {
	.navigation {
		height: 56px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 768px) {
	.navigation-menu li a {
		font-size: 20px;
	}
}
@media screen and (min-width: 1120px) {
	.logo__container {
		padding-left: 0;
	}
}

@media screen and (max-width: 1120px) {
	.brand-name {
		height: 32px;
		width: 125.5px;

		margin-left: 16px;
	}
}
/*-----------------

-----------------*/
.bg-yellow {
	background-color: #f8cc5d;
}
.bg-grey {
	background-color: #45565e;
}
.bg-white {
	background-color: #f8f4f9;
}
.section {
	width: 100%;
	height: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
	.section {
		padding-top: 64px;
		padding-bottom: 64px;
	}
}

/*-----------------
CARD
-----------------*/
/* .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
} */

.refer__card__title {
	text-align: left;
	margin: 0 auto;
	font-size: 32px;
	margin-bottom: 24px;
}

.refer__card__p {
	text-align: left;
	margin: 0 auto;
	font-size: 16px;
	margin-bottom: 24px;
}

.refer__card {
	width: auto;
	height: auto;
	background-color: #f8f4f9;
	border-radius: 16px;
	border: 1px solid #1f343e;
	margin: 0 auto;
	margin: 0 16px;
	padding: 32px 16px;
}
@media screen and (min-width: 564px) {
	.refer__card {
		max-width: 544px;
		margin: 0 auto;
		padding: 64px;
		border-radius: 16px;
	}
	.refer__card__title {
		font-size: 48px;
		margin-bottom: 32px;
	}
	.refer__card__p {
		font-size: 20px;
		margin-bottom: 64px;
	}
}
@media screen and (min-width: 1170px) {
	.refer__card {
		margin-left: 0;
	}
}

/*-----------------
FORM
-----------------*/

.form__container {
	width: 100%;
	margin: 0 auto;
}

.form__input {
	width: 100%;
	height: 56px;
	border: 1px solid #1f343e;
	border-radius: 8px;
	padding: 0 1.6rem;
	font-size: 16px;
	padding-left: 48px;
}

#icon_mail {
	background-image: url('../public/images/email_icon.svg');
	background-repeat: no-repeat;
	background-position: 16px 18px;
}

.form__button {
	width: 100%;
	height: 56px;
	border: 1px solid #1f343e;
	border-radius: 8px;
	padding: 0 1.6rem;

	background-color: #4eb3e3;
	color: #ffffff;
	font-size: 16px;
	margin: 16px auto;
}
.from__errors {
	color: red;
	font-size: 12px;
	margin-bottom: 7px;
}
.form__success__container {
	font-size: 16px;
	margin-bottom: 17px;
	display: flex;
	align-items: center;
}
.form__success__icon {
	/* display: inline-block; */
	height: 32px;
	width: 32px;
	margin-right: 16px;
}
.form__success__message {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.refer__card__limits__text {
	margin-top: 71px;
	color: #6d7a80;
	font-size: 16px;
}

.form__input--referral {
	width: 100%;
	height: 56px;
	border: 1px solid #1f343e;
	border-radius: 8px;
	padding-left: 16px;
	font-size: 16px;
}
@media screen and (min-width: 544px) {
	.form__input {
		height: 64px;
		border-radius: 8px;
		padding: 0 1.6rem;
		font-size: 20px;
		padding-left: 60px;
	}
	#icon_mail {
		/* background-image: url('../public/images/email_icon.svg');
		background-repeat: no-repeat; */
		background-position: 19px 20px;
	}
	.form__button {
		font-size: 20px;
		font-weight: bold;
	}
	.refer__card__limits__text {
		margin-top: 153px;
		margin-bottom: 0;
	}
}
/*-----------------
  Tutorial
-----------------*/

.tutorial__container {
	width: 100%;
	margin: 0 auto;
	width: auto;
	height: auto;
	margin: 0 16px;
	padding: 0 16px;
	padding-top: 49px;
	max-width: 488px;
	margin: 0 auto;

	/* background-color: aqua; */
}
.tutorial__item {
	text-align: center;
	margin-bottom: 48px;
}
.subtitle {
	font-weight: bold;
	color: #4eb3e3;
	margin-top: 32px;
	margin-bottom: 16px;
	font-size: 20px;
}

.tutorial__item h2 {
	font-size: 32px;
	margin: 0;
}

.tutorial__item p {
	margin-top: 16px;
}

@media screen and (min-width: 1170px) {
	.tutorial__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 48px;
		margin-bottom: 64px;
	}
	.tutorial__text {
		max-width: 256px;
		text-align: left;
	}

	.tutorial__item h2 {
		margin: 16px 0;
	}

	.tutorial__item p {
		font-size: 20px;
		margin: 0;
	}

	.tutorial__container {
		padding: 48px 0px;
	}
	.tutorial__item:nth-child(2) {
		flex-direction: row-reverse;
	}
	.tutorial__item:nth-child(3) {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1200px) {
	.tutorial__container {
		margin-right: 0;
	}
}

/*-----------------
  Apps
-----------------*/
.apps__container {
	width: 100%;
	height: 100%;
	margin: 0 auto;

	color: #fff;

	/* background-color: aqua; */
}
.app_block {
	padding: 32px 0;
	margin: 0 32px;
	width: 0 auto;
}
.app_block a:hover {
	color: #fff;
}

.app_box {
	display: flex;
	align-items: center;
	border: 1px solid #1f343e;
	border-radius: 16px;
	padding: 16px 24px;
	margin-bottom: 16px;
	margin: 0 auto;
	margin-bottom: 16px;
}

.app_box p {
	margin: 0;
	font-size: 16px;
}
.app_box:nth-child(2) {
	/* margin-right: 16px; */

	margin-bottom: 24px;
}
.app__box__text {
	margin-left: 20px;
}
.app_box .bold {
	font-weight: bold;
	font-size: 20px;
	/* margin-bottom: -10px; */
}
.app_box_rating {
	font-size: 16px;
	text-align: center;
	margin-bottom: 0;
}

@media screen and (min-width: 544px) {
	.app_block {
		/* width: 100%; */
		/* max-width: 488px; */
	}
	.app_box {
		padding: 16px 24px;
		max-width: 488px;

		margin-bottom: 16px;
	}
}

@media screen and (min-width: 1170px) {
	.app_block {
		display: flex;
		align-items: center;
		margin: 0;
	}
	.app_box {
		/* margin-right: 16px; */
		width: 312px;
		margin: 0;
		margin-right: 16px;
	}
	.app_box:nth-child(2) {
		/* margin-right: 16px; */
		margin-bottom: 0px;
		margin-right: 0px;
	}
	.app_box_rating {
		margin-top: 0;
		margin-left: 32px;
		font-size: 20px;
	}
	.app_box .bold {
		font-family: 'Gadugi', sans-serif;
	}
}
