/*------------------
      Navbar
------------------*/

.header__list {
	display: none;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

.header__item {
	margin-right: 30px;
}

.hamburger {
	width: 30px;
	height: 30px;
}

.dropdown {
	display: none;
	align-items: center;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
// .drop_list {
// 	// position: absolute;

// 	padding: 1.5rem;
// 	margin-top: 0.5rem;
// 	margin-bottom: 0.5rem;
// 	margin-left: 1rem;
// 	margin-right: 1rem;
// 	border-radius: 0.75rem;
// }

.header__wrapper {
	width: 100%;
	height: 56px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* UI Properties */
	background: #ffffff 0% 0% no-repeat padding-box;
	border-bottom: 1px solid #1f343e;
	opacity: 1;
	z-index: 100;
	box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.brand-name {
}
@media (max-width: 600px) {
	.dropdown {
		display: block;
	}
}
@media (min-width: 600px) {
	.header__list {
		display: flex;
	}
}
